.PasswordInput {
  display: flex;

  input[name="password"] {
    width: 100%;
  }

  .showPasswordContainer {
    display: flex;
    height: 100%;
    width: 2em;
    align-items: center;
    justify-content: center;

    .showPassword {
      display: block;
      width: 70%;
      height: 70%;

      input[name="showPassword"] {
        display: none;
      }

      .icon {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: grey;

        &.show {
          color: black;
        }
      }

      &:focus-within {
        .icon span {
          outline: auto;
        }
      }
    }
  }
}
