.PasswordInput {
  display: flex;

  [name="password"] {
    width: 100%;
  }

  .showPassword {
    [name="showPassword"] {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
    }

    .icon {
      display: flex;
      height: 100%;
      width: 2em;
      align-items: center;
      justify-content: center;
      color: grey;

      span {
        display: flex;
        width: 70%;
        height: 70%;
        align-items: center;
        justify-content: center;

        &.show {
          color: black;
        }
      }
    }

    &:focus-within {
      .icon span {
        outline: auto;
      }
    }
  }
}
