.SubmitButton {
  label {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    input[type="submit"] {
      font-size: 100%;
      padding: 4px 0 5px 0;
    }

    .loading {
      position: absolute;
      right: 0;
      display: flex;
      width: 2em;
      align-items: center;
      justify-content: center;
      color: black;
    }
  }
}
