.SubmitButton {
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;

  .text {
    font-size: 120%;
  }

  .loading {
    position: absolute;
    right: 0;
    display: flex;
    width: 2em;
    align-items: center;
    justify-content: center;
    color: black;
  }
}
