.auth {
  .container {
    max-width: 20em;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 2px solid grey;
    background-color: white;

    section:not(.alternatives) {
      display: flex;
      width: 100%;
      height: 2em;

      &:not(:first-of-type) {
        margin-top: 5px;
      }

      input {
        width: 100%;
      }
    }

    .alternatives {
      margin-top: 10px;
      font-size: 80%;
      text-align: center;

      a {
        color: black;

        &:not(:first-of-type)::before {
          content: "|";
          margin: 0 0.5em;
          opacity: 0.5;
        }
      }
    }
  }

  .error {
    color: red;
  }
}
